.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #a1d955;
    color: #000;
    border: 2px solid #5e1da8;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.pagination span {
    align-self: center;
    margin: 0 10px;
}
