.filterControls {
    padding: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.filterLabel {
    margin-bottom: 15px;
    display: block;
}

.slider {
    width: 100%;
    height: 10px;
}

.thumb {
    background-color: #5e1da8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.track {
    margin-bottom: 10px;
    background-color: #ddd;
    height: 5px;
}

.rangeDisplay{
    margin-top: 15px;
}

.applyFilterBtn{
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    background: #5d1da7;
    color: #a0d754;


}